.button {
    background: var(--verdeClaro);
    padding: 5px;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .text {
    color: var(--verde);
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
  }
  

  .button:hover{
    background: var(--verde);
    transition: 0.5s ease;
    text-decoration: none;
  }

  .text:hover{
    color: var(--blanco);
  }

/* Nuevos estilos personalizados */
.buttonBlanco {
  background-color: var(--blanco);
}

.textMarron {
  color: var(--marron);
}

.buttonBlanco:hover {
  background-color: transparent;
  border: 1px solid var(--blanco);
}

.textMarron:hover {
  color: var(--blanco);
}

/* Nuevos estilos personalizados */

.buttonRosado{
  background-color: var(--rosado);
}

.buttonRosado:hover {
background-color: var(--rosadoHover);
 }
 
.textBlanco{
  color: var(--blanco);
}
  